* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
}
label input {
  display: block;
}
img {
  display: block;
  width: 100%;
}
.product-img {
  height: 220px;
  width: 220px;
}
